* {
    box-sizing: border-box
}

.container {
    border: 4px solid darkgrey;
    padding: 24px;
    display: flex;
    justify-content: center;
}

.row {
    width: 100%;
    max-width: 500px;
}

.header {
    border: 2px solid grey;
    width: 100%;
    height: 30px;
    margin-bottom: 25px;
}

.box {
    border: 4px solid grey;
    width: 30%;
    height: 100px;
    margin-bottom: 30px;
}

.box-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}